In [1]:
# Import all the neccessary libraries
import pandas as pd
import requests

In [2]:
# Initalize the OData URL
odata_url = 'https://data.lacity.org/api/odata/v4/2nrs-mtv8'

In [4]:
# Initialize an empty list to store all data frames
all_data = []

while odata_url:
    # Make a request to the OData URL
    response = requests.get(odata_url)
    data = response.json()

    # Convert the 'value' part of the response to a Dataframe and append it to the list
    df = pd.DataFrame(data['value'])
    all_data.append(df)

    # Check if there is a next page 
    odata_url = data.get('@odata.nextLink')


# Concatenate all data frames into a single DataFrame
crime_data = pd.concat(all_data, ignore_index=True)

crime_data

,__id,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,...,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,row-n2f7~6wwh-8ytp,190326475,2020-03-01T00:00:00.000,2020-03-01T00:00:00.000,2130,07,Wilshire,0784,1,510,...,AA,Adult Arrest,510,998,None,None,1900 S LONGWOOD AV,None,34.0375,-118.3506
1,row-2pyq-it3j_ms5w,200106753,2020-02-09T00:00:00.000,2020-02-08T00:00:00.000,1800,01,Central,0182,1,330,...,IC,Invest Cont,330,998,None,None,1000 S FLOWER ST,None,34.0444,-118.2628
2,row-megi~zerq-hrzh,200320258,2020-11-11T00:00:00.000,2020-11-04T00:00:00.000,1700,03,Southwest,0356,1,480,...,IC,Invest Cont,480,None,None,None,1400 W 37TH ST,None,34.0210,-118.3002
3,row-ky9z~rzgf-8xxk,200907217,2023-05-10T00:00:00.000,2020-03-10T00:00:00.000,2037,09,Van Nuys,0964,1,343,...,IC,Invest Cont,343,None,None,None,14000 RIVERSIDE DR,None,34.1576,-118.4387
4,row-umma-5ftk~zby4,220614831,2022-08-18T00:00:00.000,2020-08-17T00:00:00.000,1200,06,Hollywood,0666,2,354,...,IC,Invest Cont,354,None,None,None,1900 TRANSIENT,None,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951603,row-cr5b.dbc9.xnu6,241604405,2024-01-14T00:00:00.000,2024-01-13T00:00:00.000,0720,16,Foothill,1673,1,230,...,IC,Invest Cont,230,None,None,None,8700 LANKERSHIM BL,None,34.2271,-118.3878
951604,row-ct5f~92xa-2q5j,242106032,2024-02-20T00:00:00.000,2024-02-17T00:00:00.000,2330,21,Topanga,2103,1,420,...,IC,Invest Cont,420,None,None,None,22700 NAPA ST,None,34.2260,-118.6214
951605,row-g7nq-c794-pu24,242004546,2024-01-16T00:00:00.000,2024-01-16T00:00:00.000,1510,20,Olympic,2013,2,624,...,IC,Invest Cont,624,None,None,None,HOBART BL,3RD ST,34.0690,-118.3054
951606,row-2zgm-2phh~khrg,240104953,2024-01-15T00:00:00.000,2024-01-15T00:00:00.000,0100,01,Central,0101,2,745,...,IC,Invest Cont,745,None,None,None,1300 W SUNSET BL,None,34.0685,-118.2460
951607,row-qgfe.xqny~jpjn,240309674,2024-04-24T00:00:00.000,2024-04-24T00:00:00.000,1500,03,Southwest,0358,1,230,...,IC,Invest Cont,230,None,None,None,FLOWER ST,JEFFERSON BL,34.0215,-118.2868

In [6]:
# Drop __id column as it is irrelevant

crime_data.drop('__id', axis=1, inplace=True)

In [19]:
crime_data['dr_no'] = pd.to_numeric(crime_data['dr_no'])

crime_data['date_rptd'] = pd.to_datetime(crime_data['date_rptd'])
crime_data['date_occ'] = pd.to_datetime(crime_data['date_occ'])

crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951608 entries, 0 to 951607
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           951608 non-null  int64
 1   date_rptd       951608 non-null  datetime64[ns]
 2   date_occ        951608 non-null  datetime64[ns]
 3   time_occ        951608 non-null  object
 4   area            951608 non-null  object
 5   area_name       951608 non-null  object
 6   rpt_dist_no     951608 non-null  object
 7   part_1_2        951608 non-null  int64
 8   crm_cd          951608 non-null  object
 9   crm_cd_desc     951608 non-null  object
 10  mocodes         816159 non-null  object
 11  vict_age        951608 non-null  object
 12  vict_sex        822716 non-null  object
 13  vict_descent    822706 non-null  object
 14  premis_cd       951597 non-null  float64
 15  premis_desc     951040 non-null  object
 16  weapon_used_cd  324847 non-null  object
 17  weapon_desc     324847 non-null  object
 18  status          951607 non-null  object
 19  status_desc     951608 non-null  object
 20  crm_cd_1        951597 non-null  object
 21  crm_cd_2        68396 non-null   object
 22  crm_cd_3        2290 non-null    object
 23  crm_cd_4        64 non-null      object
 24  location        951608 non-null  object
 25  cross_street    148487 non-null  object
 26  lat             951608 non-null  float64
 27  lon             951608 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(21)
memory usage: 203.3+ MB